# Машинное обучение, ФЭН ВШЭ

## Практическое задание 1

### Общая информация
Дата выдачи: 19.09.2019  

Мягкий дедлайн: 23:59MSK 27.09.2019 (за каждый день просрочки снимается 1 балл)

Жесткий дедлайн: 23:59MSK 04.10.2019

### О задании

Задание состоит из двух разделов, посвященных работе с табличными данными с помощью библиотеки pandas и визуализации с помощью matplotlib. В каждом разделе вам предлагается выполнить несколько заданий. Баллы даются за выполнение отдельных пунктов. Задачи в рамках одного раздела рекомендуется решать в том порядке, в котором они даны в задании.

Задание направлено на освоение jupyter notebook (будет использоваться в дальнейших заданиях), библиотекам pandas и matplotlib.

### Оценивание и штрафы
Каждая из задач имеет определенную «стоимость» (указана в скобках около задачи). Максимально допустимая оценка за работу — 10 баллов.

Сдавать задание после указанного срока сдачи нельзя. При выставлении неполного балла за задание в связи с наличием ошибок на усмотрение проверяющего предусмотрена возможность исправить работу на указанных в ответном письме условиях.

Задание выполняется самостоятельно. «Похожие» решения считаются плагиатом и все задействованные студенты (в том числе те, у кого списали) не могут получить за него больше 0 баллов (подробнее о плагиате см. на странице курса). Если вы нашли решение какого-то из заданий (или его часть) в открытом источнике, необходимо указать ссылку на этот источник в отдельном блоке в конце вашей работы (скорее всего вы будете не единственным, кто это нашел, поэтому чтобы исключить подозрение в плагиате, необходима ссылка на источник).

### Формат сдачи
Будет объявлен позже.

## 0. Введение

Сейчас мы находимся в jupyter-ноутбуке (или ipython-ноутбуке). Это удобная среда для написания кода, проведения экспериментов, изучения данных, построения визуализаций и других нужд, не связанных с написаем production-кода. 

Ноутбук состоит из ячеек, каждая из которых может быть либо ячейкой с кодом, либо ячейкой с текстом размеченным и неразмеченным. Текст поддерживает markdown-разметку и формулы в Latex.

Для работы с содержимым ячейки используется *режим редактирования* (*Edit mode*, включается нажатием клавиши **Enter** после выбора ячейки), а для навигации между ячейками искользуется *командный режим* (*Command mode*, включается нажатием клавиши **Esc**). Тип ячейки можно задать в командном режиме либо с помощью горячих клавиш (**y** to code, **m** to markdown, **r** to edit raw text), либо в меню *Cell -> Cell type*. 

После заполнения ячейки нужно нажать *Shift + Enter*, эта команда обработает содержимое ячейки: проинтерпретирует код или сверстает размеченный текст.

In [ ]:
# ячейка с кодом, при выполнении которой появится output
2 + 2

А это ___ячейка с текстом___.

Ячейка с неразмеченыным текстом.

Попробуйте создать свои ячейки, написать какой-нибудь код и текст какой-нибудь формулой.

In [10]:
print(220+8, 'это статья такая')

228 это статья такая

[Здесь](https://athena.brynmawr.edu/jupyter/hub/dblank/public/Jupyter%20Notebook%20Users%20Manual.ipynb) находится <s>не</s>большая заметка о используемом языке разметки Markdown. Он позволяет:

0. Составлять упорядоченные списки
1. #Делать 
##заголовки 
###разного уровня
3. Выделять *текст* <s>при</s> **необходимости**
4. Добавлять [ссылки](http://imgs.xkcd.com/comics/the_universal_label.png)


* Составлять неупорядоченные списки

Делать вставки с помощью LaTex:
    
$
\left\{
\begin{array}{ll}
x = 16 \sin^3 (t) \\ 
y = 13 \cos (t) - 5 \cos (2t) - 2 \cos (3t) - \cos (4t) \\
t \in [0, 2 \pi]
\end{array}
\right.$

А ещё можно вставлять картинки:
<img src="https://st2.depositphotos.com/1177973/9266/i/950/depositphotos_92668716-stock-photo-red-cat-with-computer-keyboard.jpg" style="width: 400px">

## 1. Табличные данные и Pandas

Pandas — удобная библиотека для работы с табличными данными в Python, если данных не слишком много и они помещаются в оперативную память вашего компьютера. Несмотря на неэффективность реализации и некоторые проблемы, библиотека стала стандартом в анализе данных. С этой библиотекой мы сейчас и познакомимся.

Основной объект в pandas это DataFrame, представляющий собой таблицу с именованными колонками различных типов, индексом (может быть многоуровневым). DataFrame можно создавать, считывая таблицу из файла или задавая вручную из других объектов.

В этой части потребуется выполнить несколько небольших заданий. Можно пойти двумя путями: сначала изучить материалы, а потом приступить к заданиям, или же разбираться "по ходу". Выбирайте сами.

Материалы:
1. [Pandas за 10 минут из официального руководства](http://pandas.pydata.org/pandas-docs/stable/10min.html)
2. [Документация](http://pandas.pydata.org/pandas-docs/stable/index.html) (стоит обращаться, если не понятно, как вызывать конкретный метод)
3. [Примеры использования функционала](http://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb)

Многие из заданий можно выполнить несколькими способами. Не существуют единственно верного, но попробуйте максимально задействовать арсенал pandas и ориентируйтесь на простоту и понятность вашего кода. Мы не будем подсказывать, что нужно использовать для решения конкретной задачи, попробуйте находить необходимый функционал сами (название метода чаще всего очевидно). В помощь вам документация, поиск и stackoverflow.

In [11]:
%pylab inline  
# import almost all we need
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

Данные можно скачать [отсюда](https://www.dropbox.com/s/5qq94wzmbw4e54r/data.csv?dl=0).

#### 1. [0.5 баллов] Откройте файл с таблицей (не забудьте про её формат). Выведите последние 10 строк.

Посмотрите на данные и скажите, что они из себя представляют, сколько в таблице строк, какие столбцы?

In [145]:
df = pd.read_csv('data.csv')

In [146]:
pd.read_csv('data.csv')[len(pd.read_csv('data.csv'))-10:len(pd.read_csv('data.csv'))]

,order_id,quantity,item_name,choice_description,item_price
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

#### 2. [0.25 баллов] Ответьте на вопросы:
1. Сколько заказов попало в выборку?
2. Сколько уникальных категорий товара было куплено? (item_name)

In [147]:
print('Ответ на первый вопрос:', len(df.groupby(['order_id']).count()))
print('Ответ на второй вопрос:', len(df.groupby(['item_name']).count()))

Ответ на первый вопрос: 1834
Ответ на второй вопрос: 50

#### 3. [0.25 баллов] Есть ли в данных пропуски? В каких колонках?

In [108]:
#HYETA, DODELAI!
listok = []
for i in range(len(df.columns)):
    for j in range(len(df.columns[i])):
        if df[df.columns[i]].isnull()[j] == True:
            listok.append(i)
            break
listok

[3]

Заполните пропуски пустой строкой для строковых колонок и нулём для числовых.

In [148]:
for i in range(len(df.columns)):
    if df[df.columns[i]].dtype == 'int64':
        df[df.columns[i]].replace(np.nan, '$0', inplace=True)
    else:
        df[df.columns[i]].replace(np.nan, '', inplace=True)

#### 4. [0.5 баллов] Посмотрите внимательнее на колонку с ценой товара. Какого она типа? Создайте новую колонку так, чтобы в ней цена была числом.

Для этого попробуйте применить функцию-преобразование к каждой строке вашей таблицы (для этого есть соответствующая функция).

In [179]:
df['new'] = df['item_price'].apply(lambda row: row.replace('$', ''))

Какая средняя/минимальная/максимальная цена у товара?

In [193]:
def mean(x):
    a = 0
    for i in range(len(x)):
        a += float(x[i])
    return a/len(x)

In [194]:
print('max price is', df['new'].max())
print('min price is', df['new'].min())
print('mean price is', mean(df['new']))

max price is 9.39
min price is 1.09
mean price is 7.464335785374397

Удалите старую колонку с ценой.

In [195]:
del df['item_price']

#### 5. [0.25 баллов] Какие 5 товаров были самыми дешёвыми и самыми дорогими? (по item_name)

Для этого будет удобно избавиться от дубликатов и отсортировать товары. Не забудьте про количество товара.

In [238]:
df.drop_duplicates('item_name')['new'] = pd.to_numeric(df['new'], errors='coerce')
df2 = df.drop_duplicates('item_name').sort_values('new', ascending=True)
print('5 most expensive goods are', list(df2['item_name'][:5]))
print('5 cheapest goods are', list(df2['item_name'][len(df2['item_name'])-5:len(df2['item_name'])]))

5 most expensive goods are ['Bottled Water', 'Canned Soft Drink', 'Side of Chips', 'Chicken Salad', 'Veggie Burrito']
5 cheapest goods are ['Steak Soft Tacos', 'Carnitas Soft Tacos', 'Steak Crispy Tacos', 'Barbacoa Soft Tacos', 'Carnitas Crispy Tacos']

C:\Users\nikzo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

#### 6. [0.5 баллов] Какой средний чек у заказа? Сколько в среднем товаров покупают?

Если необходимо провести вычисления в терминах заказов, то будет удобно сгруппировать строки по заказам и посчитать необходимые статистики.

In [253]:
a = (df.groupby(['order_id', 'new']).describe())
a

                quantity
                   count mean  std  min  25%  50%  75%  max
order_id new
1        2.39        2.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
         3.39        2.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
2        16.98       1.0  2.0  NaN  2.0  2.0  2.0  2.0  2.0
3        1.69        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         10.98       1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
4        11.75       1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         9.25        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
5        4.45        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         9.25        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
6        8.75        2.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
7        11.25       1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         4.45        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
8        2.39        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         8.49        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
9        2.18        1.0  2.0  NaN  2.0  2.0  2.0  2.0  2.0
         8.49        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
10       4.45        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         8.75        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
11       3.39        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         8.99        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
12       10.98       1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         3.39        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
13       2.39        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         8.49        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
14       1.09        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         8.99        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
15       2.39        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         8.49        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
16       1.69        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         8.99        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
...                  ...  ...  ...  ...  ...  ...  ...  ...
1823     8.75        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
1824     11.25       2.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
         4.45        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
1825     11.25       2.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
         11.75       3.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
         8.75        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
1826     1.25        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         1.50        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         4.45        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         8.75        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
1827     1.25        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         4.45        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         8.75        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         9.25        2.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
1828     1.25        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         4.45        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         8.75        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
1829     1.25        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         11.25       1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         11.75       1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
1830     11.25       1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         11.75       1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
1831     1.50        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         2.15        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         9.25        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
1832     4.45        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         8.75        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
1833     11.75       2.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
1834     11.25       1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
         8.75        2.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0

[4068 rows x 8 columns]

In [263]:
k = 0
lisok = list(df['order_id'].value_counts())
for _ in range(len(lisok)):
    k += lisok[_]
print('В среднем покупают', k/len(df.groupby(['order_id']).count()), 'товаров' )

В среднем покупают 2.520174482006543 товаров

#### 7. [0.25 баллов] Сколько заказов содержали ровно 1 товар?

In [267]:
print('Ответ:', list(df['order_id'].value_counts()).count(1))

Ответ: 128

#### 8. [0.75 баллов] Создайте новый DateFrame из матрицы, созданной ниже. Назовите колонки index, column1, column2 и сделайте первую колонку индексом.

In [281]:
data = np.random.rand(10, 3)
df228 = pd.DataFrame(data)
df228.columns = ['index', 'column1', 'column2']
df228.set_index(list(df228)[0])

           column1   column2
index
0.764570  0.442142  0.703965
0.517660  0.376192  0.888137
0.263723  0.871275  0.069689
0.170047  0.007862  0.438377
0.527966  0.622794  0.125987
0.123536  0.436776  0.749007
0.050648  0.720869  0.918614
0.462995  0.204474  0.002662
0.063767  0.723072  0.506935
0.561951  0.167671  0.284273

Сохраните DataFrame на диск в формате csv без индексов и названий столбцов.

In [283]:
df228.to_csv('my.csv', index=False, header = False)

## 2. Визуализации и matplotlib

При работе с данными часто неудобно делать какие-то выводы, если смотреть на таблицу и числа в частности, поэтому важно уметь визуализировать данные. В этом разделе мы этим и займёмся.

У matplotlib, конечно, же есть [документация](https://matplotlib.org/users/index.html) с большим количеством [примеров](https://matplotlib.org/examples/), но для начала достаточно знать про несколько основных типов графиков:
- plot — обычный поточечный график, которым можно изображать кривые или отдельные точки;
- hist — гистограмма, показывающая распределение некоторое величины;
- scatter — график, показывающий взаимосвязь двух величин;
- bar — столбцовый график, показывающий взаимосвязь количественной величины от категориальной.

В этом задании вы попробуете построить каждый из них. Не менее важно усвоить базовые принципы визуализаций:
- на графиках должны быть подписаны оси;
- у визуализации должно быть название;
- если изображено несколько графиков, то необходима поясняющая легенда;
- все линии на графиках должны быть чётко видны (нет похожих цветов или цветов, сливающихся с фоном);
- если отображена величина, имеющая очевидный диапазон значений (например, проценты могут быть от 0 до 100), то желательно масштабировать ось на весь диапазон значений (исключением является случай, когда вам необходимо показать малое отличие, которое незаметно в таких масштабах).
- сетка на графике помогает оценить значения в точках на глаз, это обычно полезно, поэтому лучше ее отрисовывать.

In [ ]:
%matplotlib inline  # нужно для отображения графиков внутри ноутбука
import matplotlib.pyplot as plt

На самом деле мы уже импортировали matplotlib внутри %pylab inline в начале задания.

Работать мы будем с той же выборкой покупкок. Добавим новую колонку с датой покупки.

In [ ]:
import datetime

start = datetime.datetime(2018, 1, 1)
end = datetime.datetime(2018, 1, 31)
delta_seconds = int((end - start).total_seconds())

dates = pd.DataFrame(index=df.order_id.unique())
dates['date'] = [
    (start + datetime.timedelta(seconds=random.randint(0, delta_seconds))).strftime('%Y-%m-%d')
    for _ in range(df.order_id.nunique())]

# если DataFrame с покупками из прошлого заказа называется не df, замените на ваше название ниже
df['date'] = df.order_id.map(dates['date'])

#### 1. [1 балл] Постройте гистограмму распределения сумм покупок и гистограмму средних цен отдельных видов продуктов item_name. 

Изображайте на двух соседних графиках. Для этого может быть полезен subplot.

In [ ]:
# your code

#### 2. [1 балл] Постройте график зависимости суммы покупок от дней.

In [ ]:
# your code

#### 3. [1 балл] Постройте средних сумм покупок по дням недели (bar plot).

In [ ]:
# your code

#### 4. [1 балл] Постройте график зависимости денег за товар от купленного количества (scatter plot).

In [ ]:
# your code

Сохраните график в формате pdf (так он останется векторизованным).

In [ ]:
# your code

Еще одна билиотека для визуализации: [seaborn](https://jakevdp.github.io/PythonDataScienceHandbook/04.14-visualization-with-seaborn.html). Это настройка над matplotlib, иногда удобнее и красивее делать визуализации через неё.